<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blocos JS</title>
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <div id="container">
        <div id="menu">
            <img src="/images/IFSul-Logo.png" alt="Logo" class="menu-logo">
            <h3>C칩digo</h3>
            <div id="code"></div>
        </div>

        <div id="screen">
            <h3>Blocos</h3>
            <p>Monte seu display</p>

            <xml id="toolbox" style="display: none;">
                <category name="L칩gica" colour="#5CA65C">
                    <block type="controls_if"></block>
                    <block type="controls_ifelse"></block>

                    <block type="logic_compare"></block>
                    <block type="logic_operation"></block>
                    <block type="logic_negate"></block>
                    <block type="logic_boolean"></block>
                    <block type="logic_ternary"></block>
                </category>

                <category name="Vari치veis" custom="VARIABLE" colour="#A55EEA"></category>

                <category name="Controle" colour="#E67E22">
                    <block type="controls_if"></block>
                    <block type="controls_ifelse"></block>

                    <block type="controls_repeat_ext">
                        <value name="TIMES">
                            <shadow type="math_number">
                                <field name="NUM">10</field>
                            </shadow>
                        </value>
                    </block>

                    <block type="controls_whileUntil"></block>

                    <block type="controls_for">
                        <field name="VAR">i</field>
                        <value name="FROM">
                            <shadow type="math_number">
                                <field name="NUM">0</field>
                            </shadow>
                        </value>
                        <value name="TO">
                            <shadow type="math_number">
                                <field name="NUM">10</field>
                            </shadow>
                        </value>
                        <value name="BY">
                            <shadow type="math_number">
                                <field name="NUM">1</field>
                            </shadow>
                        </value>
                    </block>

                    <block type="controls_flow_statements"></block>
                </category>

                <category name="Matem치tica" colour="#2ECC71">
                    <block type="math_number"></block>
                    <block type="math_arithmetic"></block>
                    <block type="math_single"></block>
                    <block type="math_trig"></block>
                    <block type="math_number_property"></block>
                </category>


            </xml>
        </div>
    </div>

    <footer>Made by Raphaell Silva</footer>

    <script src="https://unpkg.com/blockly/blockly.min.js"></script>
    <script src="scripts/script.js"></script>
</body>

</html>